.questionsContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;
  overflow: auto;
  .info {
    background-color: var(--black);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .infoWrapper {
      padding: 195px 180px 279px 122px;
      h3 {
        font-family: 'Rowdies';
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 79px;
        align-items: center;
        justify-content: center;
        color: var(--red);
        margin: 0 0 64px;
      }
      p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 200%;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        color: var(--white);
      }
    }
  }
}
