.applicationGrid {
  h6 {
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--red);
    text-decoration: underline;
    user-select: none;
  }
  .textArea {
    margin: 90px 0 37px;
  }
  .textArea ~ .textArea {
    margin: 0 0 37px;
  }

  .fieldWrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 14px 0;
    span {
      font-family: Montserrat;
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
    }
    p {
      font-family: Montserrat;
      font-size: 14px;
      font-style: italic;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0;
    }
  }
}

.covidSituation {
  .inputComponent {
    width: 349px !important;
    height: 54px !important;
  }
}

.applications {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background: var(--primaryBG);
  overflow: auto;
  .applicationsWrapper {
    padding: 0 320px;
    h2 {
      font-family: Rowdies;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 70px;
      letter-spacing: 0.11em;
      text-align: left;
      color: var(--white);
    }
    .applicationForm {
      margin: 11px 0;
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--red);
        padding: 0 20px;
        cursor: pointer;

        p {
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
          color: var(--white);
        }
        span {
          transition: all 0.3s ease-in-out;
          svg {
            fill: var(--white);
          }
        }
      }
      section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: var(--white);
        gap: 0 147px;
        height: 0;
        overflow: hidden;
        transition: all 0.35s ease-in-out;
        padding: 0 160px;
      }
    }
  }
}

.openApplication {
  padding: 40px 160px 200px !important;
  height: 1400px !important;
  border: 1px solid var(--red);
}
