.radioQuestions {
  h4 {
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 0;
  }
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
      font-family: 'Montserrat';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
.radioQuestions:nth-child(5) {
  padding: 77px 0 43px;
}
.radioQuestions:nth-child(3) {
  padding: 51px 0 43px;
}
