:root {
  --primaryBG: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  --black: #000000;
  --red: #fe3b1f;
  --redHover: rgba(254, 61, 32, 0.7);
  --h1FontSize: 96px;
  --white: #ffffff;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
