:root {
  --primaryBG: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  --black: #000000;
  --red: #fe3b1f;
  --redHover: rgba(254, 61, 32, 0.7);
  --white: #ffffff;
  --borderColor: #525557;
  --infoBg: #454545;
  --backgroundShadow: rgba(0, 0, 0, 0.3);
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar-thumb {
  background: var(--infoBg);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar {
  width: 7px;
}
